<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>China seeks public opinion on national standard for L2 driver assistance systems - Chinadaily.com.cn</title>
    <meta name="keywords" content="China,Driver assistance" />
    <meta name="description" content=" " />
    
      <meta property="og:xi" content="0" />
      <meta property="og:title" content="China seeks public opinion on national standard for L2 driver assistance systems" />
      <meta property="og:recommend" content="0" />
      <meta property="og:url" content="https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html" />
      <meta property="og:image" content="http://img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd3a.png" />
      
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@ChinaDailyApp" />
      <meta name="twitter:title" content="China seeks public opinion on national standard for L2 driver assistance systems" />
      <meta name="twitter:description" />
      
        
        <meta name="twitter:image:src" content="http://img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd41.png" />
        
        
        
        <meta name="twitter:image" content="http://img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd41.png" />
        
        
      
      
      
      
      <meta name="shareImg" content="//img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd3a.png" />
      <meta name="msapplication-TileImage" content="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
      <link rel="apple-touch-icon-precomposed" href="https://img2.chinadaily.com.cn/static/common/img/sharelogo2.jpg" />
    
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/2017www_china_page_en/css/bootstrap.min.css" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/2017www_china_page_en/css/layout.css?ver=20" />
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_china_page_en/css/r-public.css?var=363" />
    <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/2017www_china_page_en/css/r-content.css?var=79" />
    <link rel="stylesheet" charset="utf-8" href="//img2.chinadaily.com.cn/static/common/css/share_encontent.css" />
    <script xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/html5shiv.js"></script>
    <script xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/respond.min.js"></script>
    <link href="//img2.chinadaily.com.cn/h5hack/respond-proxy.html" id="respond-proxy" rel="respond-proxy" />
    <link href="/h5hack/respond.proxy.gif" id="respond-redirect" rel="respond-redirect" />
    <script src="/h5hack/respond.proxy.js" xml:space="preserve"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/jquery.min.js"></script>
    <script type="text/javascript" src="//www.chinadaily.com.cn/js/2020/qrcode.min.js" xml:space="preserve"></script><!--二维码生成-->
    <script language="javascript" src="//www.chinadaily.com.cn/js/2017/bootstrap.min.js" type="text/javascript" xml:space="preserve"></script><!-- bootstrap js -->
    <script language="javascript" type="text/javascript" xml:space="preserve" src="//img2.chinadaily.com.cn/static/2017www_china_page_en/js/public_content.js?var=233"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/share.js"></script>
    <script type="text/javascript" charset="utf-8" rel="stylesheet" xml:space="preserve" src="//img2.chinadaily.com.cn/static/common/js/jweixin-1.0.0.js"></script>
    <script src="//share.chinadaily.com.cn/wxshare/js/jsonps.js" xml:space="preserve"></script>
    <!--[if lt IE 9]>

<style type="text/css">
.zhezhao{
background-color:#ddd;
}
</style>
<![endif]-->
    
      <meta name="articaltype" content="COMPO" />
      <meta name="filetype" content="1" />
      <meta name="publishedtype" content="1" />
      <meta name="pagetype" content="1" />
      <meta name="catalogs" content="59b8d010a3108c54ed7dfc3a" />
      <meta name="contentid" content="WS69e040e7a310d6866eb43c13" />
      <meta name="publishdate" content="2026-04-16" />
      <meta name="editor" content="刘明" />
      <meta name="author" content="刘明" />
      <meta name="source" content="Xinhua" />

      <!--来源-->
      <meta name="webterren_speical" content="6" />
      <meta name="sourcetype" content="6" />
    
    <!--  <th:block th:include="@{/}+'common/2017en' :: taboolaarticle"/>		-->
  </head>
  <body>
    <div id="wx_image" style="display:none;">
      <img src="//www.chinadaily.com.cn/image_e/2020/logo_chinadaily.jpg" />
    </div>
    <script type="text/javascript" xml:space="preserve">  
      //<![CDATA[
      jq(document).ready(function () {
        function is_weixin(){
          var ua = navigator.userAgent.toLowerCase();
          if(ua.match(/MicroMessenger/i)=="micromessenger") {
            return true;
          } else {
            return false;
          }
        }
        var url =location.href;
        if(is_weixin()){
          jq.post('https://share.chinadaily.com.cn/wxshare/api/wxinit', {url:url}, function(data){
            wx.config({
              debug: false,
              appId: data.appid,
              timestamp: data.timestamp,
              nonceStr: data.noncestr,
              signature: data.sign,
              jsApiList: ['onMenuShareTimeline','updateAppMessageShareData']
            }),
              wx.ready(function(){
              wx.onMenuShareTimeline({
                title: 'China seeks public opinion on national standard for L2 driver assistance systems',
                link: url,
                imgUrl: 'http://img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd47.png'
              });
              var data = {
                title: 'China seeks public opinion on national standard for L2 driver assistance systems',
                desc: '',
                link: url,
                imgUrl: 'http://img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd47.png'
              };
              wx.onMenuShareAppMessage(data);
            }),
              wx.error(function(res){
              console.log("微信验证失败!");
            })
          });
        }

      });
      //]]>
    </script>
    
      <div class="r-phototitle">
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / A1 Begin -->
       <!--   <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2594" charset="gbk" ></script>	-->
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / A1 End -->
      </div>
    
    
      <!-- begin响应式遮罩层-->
      <div class="zhezhao"></div>
      <!-- end 响应式遮罩 -->
      <!-- 响应式nav开始 -->
      <nav class="navbartop1">
        <div class="nav-fluid">
          <div class="yinyingceng"></div>
          <button type="button" class="navbutton1 res-m">
            <span class="icon-bar1"></span>
            <span class="icon-bar1"></span>
            <span class="icon-bar1"></span>
          </button>
        </div>
        <div class="img-center res-m">
          <a class="a-center" target="_top" href="//www.chinadaily.com.cn"><img src="//www.chinadaily.com.cn/image_e/2017/logo.png" alt="chinadaily" />
          </a>
        </div>
        <div class="fl-right res-m">
          <a href="//cn.chinadaily.com.cn" target="_top"><img src="//www.chinadaily.com.cn/image_e/2017/cnbut.png" /></a>
        </div>
      </nav>
      <!-- 响应式nav结束 -->
      <ul class="xiao-ul">
        <li><a href="https://newssearch.chinadaily.com.cn/en/search" target="_top"><span>Search</span></a></li>
        <li><a href="https://www.chinadaily.com.cn" target="_top">HOME</a></li>
        <li>
          <a href="https://www.chinadaily.com.cn/china" target="_top">CHINA</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/world" target="_top">WORLD</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/business" target="_top">BUSINESS</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/culture" target="_top">CULTURE</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/travel" target="_top">TRAVEL</a>
        </li>
        <li><a href="https://www.chinadaily.com.cn/video" target="_blank">VIDEO</a></li>
        <li>
          <a href="https://www.chinadaily.com.cn/sports" target="_top">SPORTS</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/opinion" target="_top">OPINION</a>
        </li>
        <li>
          <a href="https://www.chinadaily.com.cn/regional" target="_top">REGIONAL</a>
        </li>
        <li><a href="javascript:void(0)">NEWSPAPER</a></li>
        <li><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_top">MOBILE</a></li>
      </ul>
      <!-- pc头部 -->
      <div class="topBar">
        <div class="logo"><a target="_blank" href="//www.chinadaily.com.cn"><img src="https://www.chinadaily.com.cn/image_e/2016/logo_art.jpg" /></a></div>
        <div class="search">
          <form name="searchform" method="get" action="https://newssearch.chinadaily.com.cn/en/search" onsubmit="return do_search(this)" target="_blank">
            <input name="query" id="searchText" onfocus="clearword(this)" type="text" />
            <span><img src="https://www.chinadaily.com.cn/image_e/2016/fdj_art.gif" style="width:28px;;" onclick="javascript:searchform.submit()" /></span>
          </form>
          <script>
            //<![CDATA[
            function clearword(obj){ 
              obj.value = ''; 
            }
            //]]>
          </script>
        </div>
        <div class="channel">
          <span><a href="https://www.chinadailyglobal.com" target="_blank">Global Edition</a><a href="http://www.chinadailyasia.com/" target="_blank">ASIA</a></span>
          <span><a href="https://cn.chinadaily.com.cn" target="_blank">中文</a><a href="https://language.chinadaily.com.cn" target="_blank" style="display:none;">双语</a><a href="http://www.chinadaily.com.cn/chinawatch_fr/index.html" target="_blank" style="display:none;">Français</a></span>
        </div>
        <div class="topInfo"><a href="https://bbs.chinadaily.com.cn/forum/index.html" target="_blank" style="padding-right: 28px;"><img src="https://www.chinadaily.com.cn/image_e/2016/sign_ico_art.gif" /></a><a href="http://subscription.chinadaily.com.cn/" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2016/sub_ico_art.gif" /></a></div>
      </div>
      <!-- pc 菜单 -->
      <div class="topNav">
        <ul class="dropdown">
          <li style="width: 65px;"><a href="https://www.chinadaily.com.cn" target="_blank">HOME</a></li>
          <li style=" width:65px;"> <a href="https://www.chinadaily.com.cn/china" target="_blank">CHINA</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/world" target="_blank">WORLD</a></li>
          <li style=" width:90px;"> <a href="https://www.chinadaily.com.cn/business" target="_blank">BUSINESS</a></li>
          <li style=" width:75px;"> <a href="https://www.chinadaily.com.cn/culture" target="_blank">CULTURE</a></li>
          <li style=" width:75px;">  <a href="https://www.chinadaily.com.cn/travel" target="_blank">TRAVEL</a></li>
          <li style=" width:70px;"><a href="https://www.chinadaily.com.cn/video" target="_blank">VIDEO</a></li>
          <li style=" width:75x;"> <a href="https://www.chinadaily.com.cn/sports" target="_blank">SPORTS</a></li>
          <li style=" width:85px;">  <a href="https://www.chinadaily.com.cn/opinion" target="_blank">OPINION</a></li>
          <li style=" width:90px;"><a href="https://www.chinadaily.com.cn/regional" target="_blank">REGIONAL</a></li>
          <li class="newspaper"><a href="javascript:void(0);">NEWSPAPER</a>
            <ul class="sub_menu">
              <li><a href="http://newspress.chinadaily.net.cn" target="_blank" style="width:110px;">China Daily PDF</a></li>
              <li><a href="https://epaper.chinadaily.com.cn/china" target="_blank" style="width:130px;">China Daily E-paper</a></li>
            </ul>
          </li>
          <li style="width:75px;"><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_blank">MOBILE</a></li>
        </ul>
      </div>
    
    <!-- pc 二级菜单 -->
    <div class="topNav2_art" style="margin-bottom:0;">
      <span>China</span>
      <ul>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/governmentandpolicy">News</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/society">Society</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/scitech">Innovation</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/59b8d010a3108c54ed7dfc30">HK/Macao</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/crossstraits">Cross-Strait</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/coverstory">Cover Story</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/211flash">Photo</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/environment">Environment</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/59b8d010a3108c54ed7dfc27">Health</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/59b8d010a3108c54ed7dfc25">Military</a>
          
        </li>
        <li>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/5bff7e9ea310eff30328bd28">Video</a>
          
        </li>

      </ul>
    </div>
    <!-- pc 当前栏目 -->
    <div class="topNav3_art"> <span id="bread-nav">
      
        
          <a shape="rect" href="//www.chinadaily.com.cn">Home</a>
          
          
        
      
      
        
          
          <a shape="rect" href="//www.chinadaily.com.cn/china">/ China</a>
          
        
      
      
        
          
          
          <a shape="rect" href="//www.chinadaily.com.cn/china/society">/ Society</a>
        
      
      </span></div>
    <!-- 响应式bread导航 -->
    <ol class="breadcrumb res-m" id="bread-nav1">
      
        
           <li><a shape="rect" href="//www.chinadaily.com.cn">Home</a></li>
          
          
        
      
      
        
          
          <li><a shape="rect" href="//www.chinadaily.com.cn/china">China</a></li>
          
        
      
      
        
          
          
          <li><a shape="rect" href="//www.chinadaily.com.cn/china/society">Society</a></li>
        
      
      <img src="//www.chinadaily.com.cn/image_e/2020/share/share.png" class="share-icon" alt="Share to ..." title="Share to ..." />
    </ol>
    <div class="navholder">    </div>
    <div class="breadholder">    </div>
    <!-- pc 主体开始 -->
    <div class="main_art">
      <div class="lft_art" id="lft-art">
      
      <h1>China seeks public opinion on national standard for L2 driver assistance systems</h1>
      <h2></h2>
      <div class="info">
        <span class="info_l">
          
          Xinhua |
          Updated: 2026-04-16 09:52
        </span>
        <span class="info_r">
          <a title="facebook" style="cursor:pointer; " target="_blank" href="https://www.facebook.com/sharer.php?title=China seeks public opinion on national standard for L2 driver assistance systems&amp;u=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="https://www.chinadaily.com.cn/image_e/2020/facebook.png" height="17px" /></a>
          <a title="twitter" style="cursor:pointer;" target="_blank" href="https://twitter.com/share?text=China seeks public opinion on national standard for L2 driver assistance systems&amp;url=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="https://www.chinadaily.com.cn/image_e/2024/twitter.png" /></a>
          <a title="linkedin" style="cursor:pointer;" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=China seeks public opinion on national standard for L2 driver assistance systems&amp;url=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="https://www.chinadaily.com.cn/image_e/2020/linkedin.png" /></a>
          <a title="More" class="more" style="cursor:pointer; "><img src="//www.chinadaily.com.cn/image_e/2017/more_art.gif" /></a>
        </span>

      </div>


      <div class="moreshare">
        <span class="closesharepc">Share<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
        <a title="weibo" style="cursor:pointer;" target="_blank" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=China seeks public opinion on national standard for L2 driver assistance systems&amp;pic=http://img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd3a.png&amp;url=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="https://www.chinadaily.com.cn/image_e/2020/weibo.jpg" /></a>
        <a title="weixin" style="cursor:pointer;"><img src="https://www.chinadaily.com.cn/image_e/2020/weixin.jpg" id="weixinqrcode" /></a>
      </div>
      <div id="qrcode">
        <span>Share - WeChat<img src="https://www.chinadaily.com.cn/image_e/2020/timg.jpg" width="20px" height="20px" /></span>
        <div id="qrcodearea">
        </div>
      </div>
      <div class="share">
        <div class="share-core">
          <a title="weibo" target="_blank" href="https://service.weibo.com/share/share.php?appkey=2152474398&amp;type=3&amp;title=China seeks public opinion on national standard for L2 driver assistance systems&amp;pic=http://img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd3a.png&amp;url=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/weibo.png" /></a>
          <a title="facebook" target="_blank" href="https://www.facebook.com/sharer.php?title=China seeks public opinion on national standard for L2 driver assistance systems&amp;u=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/facebook.png" /></a>
          <a title="twitter" target="_blank" href="https://twitter.com/share?text=China seeks public opinion on national standard for L2 driver assistance systems&amp;url=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/twitter.png" /></a>
          <a title="linkedin" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&amp;title=China seeks public opinion on national standard for L2 driver assistance systems&amp;url=https://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/linkedin.png" /></a>
          <a title="mail" target="_blank" href="mailto:?subject=Shared from Chinadaily.com.cn&amp;body=China seeks public opinion on national standard for L2 driver assistance systems%0D%0Ahttps://www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html"><img src="//www.chinadaily.com.cn/image_e/2020/share/mail.png" /></a>
          <!-- <a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/browser.png"  /></a>
<a title="linkedin" th:href="'http://www.linkedin.com/shareArticle?mini=true&amp;title='+ ${story.title} + '&amp;url=' + ${story.url}" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2020/share/more.png"  /></a>		-->
        </div>
        <div class="share-close">
          <span>CLOSE</span>
        </div>
      </div>
      <div id="Content">
        
        
        <figure class="image" style="display: table;"> 
 <img src="//img2.chinadaily.com.cn/images/202604/16/69e040e7a310d68600fbbd32.png" data-from="newsroom" data-mimetype="image/png" id="img-69e040e7a310d68600fbbd32"> 
 <figcaption style="display: table-caption; caption-side: bottom;">
   A potential buyer (front) experiences a new energy intelligent vehicle at a mall in Chongqing on Jan 7. SUN KAIFANG/FOR CHINA DAILY 
 </figcaption> 
</figure> 
<p>BEIJING -- China is soliciting public opinion regarding a mandatory national standard concerning safety requirements for Level 2 (L2) driver assistance systems in intelligent connected vehicles.</p> 
<p>The Ministry of Industry and Information Technology said on Wednesday that the ministry has completed the drafting of the standard, which is open for feedback from April 16 to 22, 2026.</p> 
<p>It underscores that drivers must remain actively engaged in the driving task and introduces measures to prevent misuse.</p> 
<p>The proposed effective date of this standard is Jan 1, 2027.</p>
        
      </div>
      
      
      
    

      <div class="selectpage">
        <!--移动分页-->
        
      </div>
    
        <!-- show more -->

        <!-- <div class="mb50">
<img src="img/more.jpg" width="685" height="23" /> </div> -->

        <!--  <th:block th:include="@{|/|}+'common/2017en' :: comments"/>	-->
        <!-- Related Stories -->
        
        <!-- China Photos -->
        <div class="mb20 r-phototitle">
          <div class="bt2" style="margin-bottom:15px;"><b>
            <a shape="rect" href="//www.chinadaily.com.cn/china/211flash">Photo</a>
            </b></div>
          <div class="photo_art">
            <div style="clear:both; overflow:auto">
              
                
                  <div class="p_art">
                    <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e03b9da310d6866eb43bbd.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202604/16/69e03b9da310d68600fbbb81.jpeg" /></a></span>
                    <a class="t_art" target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e03b9da310d6866eb43bbd.html">Macao SAR holds series activities on national security education</a>
                  </div>
                
                
                  <div class="p_art">
                    <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/15/WS69df7995a310d6866eb43a1a.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202604/15/69df7995a310d68600fbb3b1.jpeg" /></a></span>
                    <a class="t_art" target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/15/WS69df7995a310d6866eb43a1a.html">Hunan Museum and Martyrs' Park merge into cultural space</a>
                  </div>
                
                
                  <div class="p_art">
                    <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/15/WS69deced8a310d6866eb436bc.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202604/15/69deced8a310d68600fba07d.jpeg" /></a></span>
                    <a class="t_art" target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/15/WS69deced8a310d6866eb436bc.html">Kiln it — porcelain hub pulls foreign artists</a>
                  </div>
                
              
            </div>
            <div>
              
                
                
                
                
                  <div class="p_art">
                    <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/14/WS69de3b24a310d6866eb4362e.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202604/14/69de3b24a310d68600fb9da8.jpeg" /></a></span>
                    <a class="t_art" target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/14/WS69de3b24a310d6866eb4362e.html">Flowers  present a colorful tapestry in Qingdao</a>
                  </div>
                
                
                  <div class="p_art">
                    <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/14/WS69ddd922a310d6866eb43531.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202604/14/69dde809a310d68600fb9981.jpeg" /></a></span>
                    <a class="t_art" target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/14/WS69ddd922a310d6866eb43531.html">Hi Five China: Life beyond retirement in Hainan</a>
                  </div>
                
                
                  <div class="p_art">
                    <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/14/WS69ddb1eda310d6866eb434be.html"><img width="227" height="158" src="//img2.chinadaily.com.cn/images/202604/14/69ddb632a310d68600fb9426.jpeg" /></a></span>
                    <a class="t_art" target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/14/WS69ddb1eda310d6866eb434be.html">People fly Kongming lanterns in Jinghong, China's Yunnan</a>
                  </div>
                
              
            </div>
            <div>

            </div>
          </div>
        </div>

      </div>

      <!-- pc 右侧 -->

      <div class="rgt_art">

        <!-- Xi's Moment -->
        <!--    <div style="margin-bottom: 10px;"><a href="https://www.chinadaily.com.cn/china/xismoments" target="_blank"><img src="//www.chinadaily.com.cn/image_e/2016/sub/a-6.png"/></a></div>
<div class="tw6Box" style="margin-bottom: 10px;">
<cms:storylist th:attr="channelId=|${site.dirname}|,type='block',columnId='59b8d010a3108c54ed7dfc21',blocktag='1',count='2'">
<th:block th:each="story,iterStat:${storyList}">
<div class="tw6" th:style="${iterStat.count == 2?'margin-right: 0px;':''}">
<span class="tw6_t"><a th:href="${story.prUrl}" th:utext="${#strings.isEmpty(story.linkTitle) ? story.title : story.linkTitle}" target="_blank"></a></span>

<span class="tw6_p"><a th:href="${story.prUrl}" target="_blank"><img th:unless="${#lists.isEmpty(story.getThumbnailsByType('3:2'))}" th:src="${story.getThumbnailsByType('3:2').get(0).prUrl}" width="140" height="90" /></a></span>
</div>
</th:block>
</cms:storylist>


</div>	-->
        
        <!-- Latest -->
        <div class="bt2 lunbor-600" style="margin-bottom:5px;"><b>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/59b8d010a3108c54ed7dfc23">Latest</a>
          </b></div>
        
          <ul class="lisBox lunbor-600">
            
              <li><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e040e7a310d6866eb43c13.html">China seeks public opinion on national standard for L2 driver assistance systems</a></li>
            
            
              <li><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e04035a310d6866eb43c09.html">China to boost two-way urban-rural job mobility</a></li>
            
            
              <li><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e03e7ca310d6866eb43bf3.html">China's top garden expo opens in Wenzhou in East China</a></li>
            
            
              <li><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e03c7da310d6866eb43bd7.html">Guangdong to advance opening-up</a></li>
            
            
              <li><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e03c3aa310d6866eb43bcd.html">Drone display lights up Hong Kong skies to mark National Security Education Day</a></li>
            
            
              <li><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/16/WS69e03b9da310d6866eb43bbd.html">Macao SAR holds series activities on national security education</a></li>
            
          </ul>
        
        
      <div class="mb20">
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文频道页-18/2/6 / E1 Begin -->
       <!--  <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2598" charset="gbk" ></script>	-->
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文频道页-18/2/6 / E1 End -->
      </div>
    
        <!--      <th:block th:include="@{/}+'common/2017en' :: taboolaRight"></th:block>		-->
        <!--State Counsil News 5a30e9bba3108bc8c6730454 -->
        <div class="bt2 lunbor-600"><b>
          <a href="http://english.gov.cn/" target="_blank" shape="rect">State Council News</a>
          </b></div>
        <div class="tw4Box lunbor-600">
          
            
              <div class="tw4" style="display:block;">
                <div class="tw4_p"><a target="_blank" shape="rect" href="http://english.www.gov.cn/policies/featured/202604/01/content_WS69cd02fcc6d00ca5f9a0a336.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202604/01/69cd2906a310d68600fae4c9.jpeg_w140" /></a></div>
                <div class="tw4_t"><a target="_blank" shape="rect" href="http://english.www.gov.cn/policies/featured/202604/01/content_WS69cd02fcc6d00ca5f9a0a336.html" id="SCN0">Policies concerning expats, foreign enterprises in March 2026</a></div>
              </div>
            
            
              <div class="tw4" style="display:none;">
                <div class="tw4_p"><a target="_blank" shape="rect" href="http://english.www.gov.cn/news/202604/15/content_WS69df03bac6d00ca5f9a0a6a3.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202604/15/69df0849a310d68600fbaae8.jpeg_w140" /></a></div>
                <div class="tw4_t"><a target="_blank" shape="rect" href="http://english.www.gov.cn/news/202604/15/content_WS69df03bac6d00ca5f9a0a6a3.html" id="SCN1">Chinese, Vietnamese top leaders hold talks in Beijing</a></div>
              </div>
            
          
          
            
            
            
              <div class="tw4" style="display:none;">
                <div class="tw4_p"><a target="_blank" shape="rect" href="http://english.www.gov.cn/news/202604/15/content_WS69defdfec6d00ca5f9a0a698.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202604/15/69df081da310d68600fbaae5.jpeg_w140" /></a></div>
                <div class="tw4_t"><a id="SCN2" target="_blank" shape="rect" href="http://english.www.gov.cn/news/202604/15/content_WS69defdfec6d00ca5f9a0a698.html">Xi holds welcome ceremony for Vietnam's top leader</a></div>
              </div>
            
          
        </div>
        <div style="clear:both; width:100%;display:block;height:5px;">

        </div>
        <!-- Exclusive -->
        <div class="bt2 lunbor-600"><b>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/59b8d010a3108c54ed7dfc22">Exclusive</a>
          </b></div>

        <div class="tw8">
          
            
              <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/12/WS69db44cea310d6866eb42ec5.html"><img width="290" height="187" src="//img2.chinadaily.com.cn/images/202604/12/69db4ca7a310d68600fb7532.jpeg" /></a></span>
              <div class="tw8_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202604/12/WS69db44cea310d6866eb42ec5.html">KMT leader applauds Zhongguancun</a></div>
            
          


        </div>
        <div class="tw6Box">
          
            
            
              <div class="tw6">
                <span class="tw6_p"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/11/WS69da13d0a310d6866eb42e0d.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202604/11/69da14f1a310d68600fb705a.jpeg" /></a></span>
                <span class="tw6_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/11/WS69da13d0a310d6866eb42e0d.html">KMT chairwoman hails meeting between party leaders as pivotal</a></span>
              </div>
             
          
          
            
            
            
              <div class="tw6" style="margin-right:0px;">
                <span class="tw6_p"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202603/31/WS69cbaf5ba310d6866eb40fa5.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202603/31/69cbc5aba310d68600fad004.jpeg" /></a></span>
                <span class="tw6_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202603/31/WS69cbaf5ba310d6866eb40fa5.html">Chinese manufacturer secures historic double victory at World Superbike Championship</a></span>
              </div>
             
          

        </div>
        <!-- Newsmaker -->
        <div class="bt2 lunbor-600"><b>
          <a target="_top" shape="rect" href="//www.chinadaily.com.cn/china/newsmaker">Newsmaker</a>
          </b></div>
        <div class="tw4Box lunbor-600">
          
            
              <div class="tw4">
                <div class="tw4_p"><a target="_blank" shape="rect" href="https://www.chinadaily.com.cn/a/202604/15/WS69dee77fa310d6866eb43722.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202604/15/69df770ba310d68600fbb388.jpeg" /></a></div>
                <div class="tw4_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/15/WS69dee77fa310d6866eb43722.html">Chinese illustrator wins intl award</a></div>
              </div>
            
            
              <div class="tw4">
                <div class="tw4_p"><a target="_blank" shape="rect" href="https://www.chinadaily.com.cn/a/202604/14/WS69ddb9cda310d6866eb434d3.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202604/14/69ddb9cda310d68600fb9464.jpeg" /></a></div>
                <div class="tw4_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/14/WS69ddb9cda310d6866eb434d3.html">Renowned Chinese missile expert passes away at 63</a></div>
              </div>
            
          
        </div>
        <!-- Exclusive -->
        
      <div class="mb20">
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / C2 Begin -->
       <!--   <script type="text/javascript" src="//same.chinadaily.com.cn/s?z=chinadaily&amp;c=2601" charset="gbk" ></script>	-->
        <!-- AdSame ShowCode: 新版英文2013.10.17 / 新英文内容页-18/2/6 / C2 End -->
      </div>
    
        <!-- Ten photos you don't wanna miss -->
        <div class="bt2"><b>
          <a target="_top" id="a-long1" shape="rect" href="//www.chinadaily.com.cn/china/photoscannotmiss">Ten photos you don&#39;t wanna miss</a>
          </b></div>
        <div class="tw8">
          
            
              <span><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/03/WS69cef04ca310d6866eb417d3.html"><img width="290" height="187" src="//img2.chinadaily.com.cn/images/202604/03/69cef04ca310d68600faf904.jpeg" /></a></span>
              <div class="tw8_t"><a shape="rect" href="//www.chinadaily.com.cn/a/202604/03/WS69cef04ca310d6866eb417d3.html">Ten photos from across China: March 27 - April 2</a></div>
            
          


        </div>

        <!-- Special -->
        <div class="bt2"><b>
          <a target="_top" id="a-long11" shape="rect" href="//www.chinadaily.com.cn/china/special_coverage">Special Coverage</a>
          </b></div> 
        <div class="tw6Box">
          
            
              <div class="tw6">
                <span class="tw6_p"><a target="_blank" shape="rect" href="https://www.chinadaily.com.cn/a/202604/15/WS69dee18da310d6866eb436db.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202604/15/69dee18da310d68600fba1dc.jpeg" /></a></span>
                <span class="tw6_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202604/15/WS69dee18da310d6866eb436db.html">National Security Education Day</a></span>
              </div>
             
          
          
            
            
              <div class="tw6" style="margin-right:0px;">
                <span class="tw6_p"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202603/25/WS69c32113a310d6866eb3fab5.html"><img width="140" height="90" src="//img2.chinadaily.com.cn/images/202603/26/69c4d853a310d68600fa79be.png" /></a></span>
                <span class="tw6_t"><a target="_blank" shape="rect" href="//www.chinadaily.com.cn/a/202603/25/WS69c32113a310d6866eb3fab5.html">Telling Story Well: From Empathetic Communication to Cultural Identity</a></span>
              </div>
             
          

        </div>

      </div>
    </div>
    
      <link rel="stylesheet" type="text/css" href="//img2.chinadaily.com.cn/static/common/css/public_eu.css?v=1222513143" />
      <!-- 响应式回顶部 -->
      <div data-am-widget="gotop" class="am-gotop am-gotop-fixed WIDGET-58db5c3d3f6a4d70c2315464 gotop am-no-layout am-active res-m">
        <span class="am-gotop-title">Top</span>
        <i class="am-gotop-icon am-icon-arrow-up gotop"></i>
      </div>
      <!-- 响应式回顶部结束 -->
      <!--pc回顶部-->
      <div class="hui-dingbu">
        <div class="ding-nei"><a href="">BACK TO THE TOP</a></div>
      </div>
      <!--show mobile手机显示pc页面返回mobile部分-->
      <div class="mobileView" id="mobileView">
        <div class="mobileView-language">
          <div class="mobileView-button mvl-english">
            English
          </div>
          <div class="mobileView-button mvl-chinese">
            <a href="https://cn.chinadaily.com.cn" target="_blank">中文</a>
          </div></div>
        <div class="mobileView-button mobileView-phone" onclick="transView()"><img src="//img2.chinadaily.com.cn/static/common/img/showmobilee.png" /></div>
      </div>

      <!--show mobile手机显示pc页面返回mobile部分- end -->
      <!--底部-->
      <div class="dibu-one"></div>
      <!--底部2-->
      <div class="topNav_art2">
        <ul class="dropdown" style="width:1010px; margin:0 auto;">
          <li style="width: 60px;"><a href="https://www.chinadaily.com.cn" target="_blank">HOME</a></li>
          <li style=" width:60px;"> <a href="https://www.chinadaily.com.cn/china" target="_blank">CHINA</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/world" target="_blank">WORLD</a></li>
          <li style=" width:80px;"> <a href="https://www.chinadaily.com.cn/business" target="_blank">BUSINESS</a></li>
          <li style=" width:70px;"> <a href="https://www.chinadaily.com.cn/culture" target="_blank">CULTURE</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/travel" target="_blank">TRAVEL</a></li>
          <li style=" width:75px;"><a href="https://www.chinadaily.com.cn/video" target="_blank">VIDEO</a></li>
          <li style=" width:65px;"> <a href="https://www.chinadaily.com.cn/sports" target="_blank">SPORTS</a></li>
          <li style=" width:70px;">  <a href="https://www.chinadaily.com.cn/opinion" target="_blank">OPINION</a></li>
          <li style=" width:90px;"><a href="https://www.chinadaily.com.cn/regional" target="_blank">REGIONAL</a></li>
          <li class="newspaper"><a href="javascript:void(0);">NEWSPAPER</a>
            <ul class="sub_menu">
              <li><a href="http://newspress.chinadaily.net.cn" target="_blank" style="width:110px;">China Daily PDF</a></li>
              <li><a href="https://epaper.chinadaily.com.cn/china" target="_blank" style="width:130px;">China Daily E-paper</a></li>
            </ul>
          </li>
          <li><a href="https://www.chinadaily.com.cn/e/static_e/newmedia" target="_blank">MOBILE</a></li>
        </ul>
      </div>
      <!--底部3-->
      <div class="dibu-three">
        <div class="dibu-three-nei">
          <div class="three-left">
            <div class="lo-g"><a target="_blank" href="https://www.chinadaily.com.cn"><img src="https://www.chinadaily.com.cn/image_e/2016/sub/a-1.jpg" /></a></div>

            <div class="lo-a">Copyright 1994 - <script>
              //<![CDATA[
              var oTime = new Date();
              document.write(oTime.getFullYear());
              //]]>
              </script>. All rights reserved. The content (including but not limited to text, photo, multimedia information, etc) published in this site belongs to China Daily Information Co (CDIC). Without written authorization from CDIC, such content shall not be republished or used in any form. Note: Browsers with 1024*768 or higher resolution are suggested for this site.</div>

            <div class="lo-c"><span style="display:none;">License for publishing multimedia online <b><a href="//www.chinadaily.com.cn/2009image_e/permit2010.jpg" target="_blank">0108263</a></b></span><br />
              <br />
              Registration Number: 130349 <img src="//www.chinadaily.com.cn/image_e/2016/sub/a-2.jpg" /></div>
          </div>

          <div class="three-midd">
            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/about" target="_blank">About China Daily</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/advertiseonsite" target="_blank">Advertise on Site</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/e/static_e/contact" target="_blank">Contact Us</a></div>

            <div class="midd-a"><a href="http://chinadaily.zhiye.com/" target="_blank">Job Offer</a></div>

            <div class="midd-a"><a href="https://www.chinadaily.com.cn/static_e/Expat_Employment.html" target="_blank">Expat Employment</a></div>
          </div>

          <div class="three-right">
            <div class="right-a">FOLLOW US</div>

            <div class="right-b"><span><a href="http://www.facebook.com/chinadaily" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2016/sub/a-3.jpg" border="0" /></a></span> 

              <span><a href="https://twitter.com/ChinaDailyUSA" target="_blank"><img src="https://www.chinadaily.com.cn/image_e/2024/a-5.jpg?ver=2" border="0" /></a></span></div>
          </div>
        </div>
      </div>
      <!-- 响应式foot -->
      <footer class="mobile-foot">
        <div class="mobile-miscs res-m">
          <div class="showDesktop"><span class="showDesktop-English"><img src="//img2.chinadaily.com.cn/static/common/img/mEnglish.png" /></span>
            <span class="showDesktop-Chinese"><a href="//cn.chinadaily.com.cn"><img src="//img2.chinadaily.com.cn/static/common/img/mChinese.png" /></a></span>
            <span class="showDesktop-Desktop" id="showpc" onclick="transView()"><img src="//img2.chinadaily.com.cn/static/common/img/showDesktop.png" /></span></div>
          <p class="footer-p">
            Copyright 1994 - <script>
            //<![CDATA[ 
            var oTime = new Date();
            document.write(oTime.getFullYear());
            //]]>
            </script>. All rights reserved. The content (including but not limited to text, photo, multimedia information, etc) published in this site belongs to China Daily Information Co (CDIC). Without written authorization from CDIC, such content shall not be republished or used in any form.
          </p>
        </div>
      </footer>
      <!-- 响应式foot 结束-->
      <script type="text/javascript">
        //<![CDATA[
        var toggleBtn = document.getElementById('showpc');
        var vp = document.querySelector('meta[name=viewport]');
        var vpHtml = document.getElementById('showpc');
        vpHtml.style.display = 'display';
        var flag = 0;
        function transView(){
          var x = (flag) ? 'initial-scale=1' : 'width=1200';
          var  relax = (flag) ? 'none' : 'block';
          vp.setAttribute('content', x);
          document.getElementById("mobileView").style.display=relax;

          flag^=1;
        };
        /*toggleBtn.addEventListener('click',transView())*/

        //]]>
      </script> 
    
    
      <div style="display:none">
        <script type="text/javascript">
          //<![CDATA[
          document.write(unescape("%3Cscript src='//cl2.webterren.com/webdig.js?z=16' type='text/javascript'%3E%3C/script%3E"));
          //]]>
        </script>
        <script type="text/javascript">
          //<![CDATA[
          wd_paramtracker("_wdxid=000000000000000000000000000000000000000000")
          //]]>
        </script>
      </div>
      <!--心动统计系统 -->
      <script src="https://xd.cdurl.cn/xdsens/autotrack.js" type="text/javascript" data-config="{'host':'//xd.cdurl.cn/receiver', 'project':'Chinadailyvideo','token':'a5a00812e91149238d371a308cb61e40'}"></script>
    
    <div id="SCN">&#160;</div>

    <!--State Council-->
    <script type="text/javascript" xml:space="preserve">	
      //<![CDATA[
      /*   window.onload=(function(){
        if(jq("#Content").find("iframe") !== null){
          jq("#Content").find("iframe").each(function(){
            jq(this).css({height:jq("#Content").width()*0.562});
          });}
      })	*/
      function iFrameScn(){
        var oHref0 = document.getElementById("SCN0").getAttribute("href");
        var oHref1 = document.getElementById("SCN1").getAttribute("href");
        var oHref2 = document.getElementById("SCN2").getAttribute("href");
        var oDiv =  document.getElementById("SCN");

        var oScnIframe = "<iframe src='" + oHref0 + "' style='display:none' ></iframe>" +"<iframe src='"+oHref1+"' style='display:none' ></iframe>" +"<iframe src='" + oHref2 + "' style='display:none' ></iframe>";

        oDiv.innerHTML = oScnIframe;

      }
      iFrameScn();


      //]]>
    </script>


    <!--State Council-->
  </body>
 
       <script>
    //<![CDATA[
    document.addEventListener("DOMContentLoaded", function() {
      // 获取div#Content中的所有iframe
      const contentDiv = document.getElementById('Content');
      if (contentDiv) {
        const targetIframes = contentDiv.querySelectorAll("iframe");
        
        // 遍历并执行调整函数
        targetIframes.forEach(iframe => {
          adjustIframeContainerSize(iframe);
        });
      } else {
        console.warn('未找到div#Content元素');
      }
    });

    function adjustIframeContainerSize(iframe) {
      if (!iframe) {
        console.warn('未找到 iframe 元素');
        return;
      }

      // 获取iframe的ID
      const iframeId = iframe.id.replace(/[^a-zA-Z]/g, "");
      console.log(iframeId)
      let vr;

      // 根据不同ID设置不同的ra值
      if (iframeId === 'playerFrameN') {
        // 从src中提取ra参数
        const iframeSrc = iframe.src;
        console.log("当前 iframe 的 src:", iframeSrc);
        
        try {
          const videoUrl = new URL(iframeSrc);
          vr = videoUrl.searchParams.get("ra") || "16:9";
        } catch (e) {
          console.error("解析URL失败:", e);
          vr = "16:9"; // 解析失败时使用默认值
        }
      } else if (iframeId === 'playerFrameV') {
        // 固定为9:16
        vr = "9:16";
      } else if (iframeId === 'playerFrameP') {
        // 固定为16:9
        vr = "16:9";
      } else {
        // 对于其他ID的iframe，使用默认比例
        console.log(`未处理的iframe ID: ${iframe.id}，使用默认比例`);
        vr = "16:9";
        return; // 如果不需要处理其他ID的iframe，可以取消此行注释
      }

      console.log(`iframe ID: ${iframe.id}，使用的比例值:`, vr);

      // 解析宽高比
      const ratioParts = vr.split(":").map(Number);
      if (ratioParts.length !== 2 || isNaN(ratioParts[0]) || isNaN(ratioParts[1])) {
        console.error("无效的比例值，使用默认16:9");
        ratioParts = [16, 9];
      }
      const [videoW, videoH] = ratioParts;
      const videoRatio = videoW / videoH;

      // 调整iframe尺寸
      const parent = iframe.parentElement;
      if (!parent) {
        console.warn('iframe没有父元素');
        return;
      }
      
      const parentWidth = parent.offsetWidth;
      
      function isMobileDevice() {
        return /Harmony|OpenHarmony|Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      function updateContainerWidth() {
        if (isMobileDevice()) {
          console.log("这是移动设备");
          iframe.style.width = parentWidth + "px";
          iframe.style.height = parentWidth / videoRatio + "px";
        } else {
          console.log("这是PC/桌面设备");
          if (videoRatio > 1) {
            iframe.style.width = parentWidth + "px";
            iframe.style.height = parentWidth / videoRatio + "px";
          } else {
            iframe.style.width = parentWidth * 0.6 + "px";
            iframe.style.height = (parentWidth * 0.6) / videoRatio + "px";
          }
        }
        console.log(`width: ${iframe.style.width}, height: ${iframe.style.height}`);
      }

      updateContainerWidth();
      iframe.addEventListener("load", updateContainerWidth);
      // 监听窗口大小变化，重新调整尺寸
      window.addEventListener("resize", updateContainerWidth);
    }
    //]]>
</script>
    
</html>
